
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<ul>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-cat="Food">Food</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-cat="Tech">Tech</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-cat="Sports">Sports</a></li>
</ul>
